* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  /* font-optical-sizing: auto; */
}

/* Nav section style */
header nav {
    width: 85%;
    max-width: 1360px;
    height: 92px;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .logo {
    width: 139px;
    height: 60px;
}
header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li {
    margin-right: 32px;
}
header nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.btn {
    background-color: #469165;
    padding: 16px 20px;
     border: 1px solid #469165;
    border-radius: 4px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}
.btn:hover {
    background-color: transparent;
    border: 1px solid #469165;
    color: #000000;
}

/* hero section style */

.banner-section {
    height: 675px;
    background-image: url('../assets/hero-bg.png');
    /* background-position: bottom center ; */
    background-size: cover;
    padding: 70px 120px 134px;
    text-align: center;
}
.now-open {
   display: flex;
   align-items: center;
   justify-content: center; 
   width: 214px;  
   margin: 0 auto;
   background-color: #ffffff;
   border-radius: 50px;
}
.head-para {
   font-weight: 500;
   color: #469165;
}
img {
    width: 24px;
    height: 24px;
    margin-top: 8px;
    margin-right: 4px;
}
.banner-section h1 {
    font-size: 70px;
    font-weight: 900;
    color: #ffffff;
    margin-top: 16px;
    margin-bottom:16px;
}

.banner-section p {
    font-size: 18px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 32px;
}
.btn-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.btn-vault {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #469165;
    font-weight: 600;
    padding: 16px 20px;
    border: 1px solid #469165;
    color: #ffffff;
    border-radius: 4px;
}
.btn-vault img {
    margin-top: -1px;
    width: 20px;
    height: 20px;
}
.btn-vault:hover {
    background-color: transparent;
    border: 1px solid #ffffff;
}
.btn-works {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color:transparent;
    font-weight: 600;
    padding: 16px 20px;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 4px; 
}
.btn-works img {
    margin-top: -1px;
    width: 20px;
    height: 20px;
}
.btn-works:hover {
    background-color: #469165;
    border: 1px solid #469165;
}

/* notes section style */

.notes {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    /* text-align: center; */
    padding-top : 70px

}
.notes h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
    text-align: center; 
}
.notes p {
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
    text-align: center;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.card {
    width: 322px;
    height: 300px;
    background-color: #ffffff;
    padding: 60px 20px;
    box-shadow: 0 10px 30px  rgba(0,0,0,0.06);
    border-radius: 8px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    z-index: -1;
}
.img-container {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container img {
    width: 32px;
    height: 32px;
    margin: 0 auto;
}
.card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-top: 16px;
    text-align: center;
}
.card p {
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
    text-align: center;
}

/* second brain section style */

.second-brain {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: -50px;
    z-index: 99;
}
.second-brain-container {
    display: flex;
    gap: 60px;
    padding-top: 100px;
   
}
.brain-img-container img {
    width: 600px;
    height: 600px;
}
.brain-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.brain-content h4 {
    font-weight: 500;
    color: #469165;
    line-height: 20px;
    margin-bottom: 16px;
}
.brain-content h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.brain-content p {
    
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.brain-content ul {
    list-style: none;
}
.brain-content ul img {
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
    margin-right: 6px;
}
.brain-content ul li {
    line-height: 20px;
    color: #001931;
    
}

/* special task style */

.special-task {
    width: 85%;
    max-width: 1360px;
    margin: 120px auto;
    text-align: center;
}
.task-content {
    /* width: 1280px; */
    background-color: #F7F6F2;
    padding: 80px 40px;

}
.task-content h2 {
    font-size: 40px;
    font-weight: bold;
    color:#001931;
    margin-bottom: 16px;
}
.task-content .task-para {
    line-height:24px;
    color: #627382;
    margin-bottom: 24px; 
}
.task-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.task-btn-container .btn-get {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #469165;
    font-weight: 600;
    padding: 16px 20px;
    border: 1px solid #469165;
    color: #ffffff;
    border-radius: 4px;
    margin-bottom: 16px;
}
.task-btn-container .btn-get img {
    margin-top: -1px;
    width: 20px;
    height: 20px;
}
.task-btn-container .btn-get:hover {
    background-color: transparent;
    border: 1px solid #469165;
    color:#000000;
}
/* .btn-get img:hover {
    color: #000;
} */
.task-content p {
    line-height: 20px;
    color: #627382;
}

/* Footer style */

footer {
    background-color: #001931;
}
.footer-content {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .logo-container{
    width: 350px;
    text-align: left;
} */
.logo-container img {
    width: 139px;
    height: 60px;
    margin-left: -100px;
}
.social-container h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500px;
    color: #ffffff;
    margin-bottom: 16px;
}
hr{
    width: 85%;
    margin: 0 auto;
    color: #E5E7EB;
    margin-bottom:30px;
}
.fa-brands {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding-top: 3px;
    background-color: #ffffff;
    margin-right: 16px;
    cursor: pointer;
}
.fa-x-twitter .fa-linkedin-in .fa-facebook-f {
    font-size: 12px;
}
.copy-right-content p {
    text-align: center;
    color: #ffffff;
    line-height: 24px;
    padding-bottom: 30px;
}
